@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

#root {
  margin: 20px;
  width: 90vw;
}

@layer {
  fieldset {
    @apply flex flex-col;
  }
  legend {
    @apply font-extrabold text-lg;
  }
  label {
    @apply font-normal;
  }
}

.inputBorder {
  @apply m-2 rounded-lg border-gray-300 shadow-sm;
}

.deleteButtons {
  @apply w-fit bg-red-700 hover:bg-red-500 text-white font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}

.buttonDesign {
  @apply w-fit bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}

.editSubmitButton {
  @apply w-fit mt-5 text-lg p-2 bg-sky-700 hover:bg-gray-100 text-white font-semibold py-2 px-4 border border-gray-400 rounded shadow;
}

.personal,
.education,
.practical {
  @apply mb-4 text-xl leading-9;
}

.personal tr,
.education tr,
.practical tr {
  @apply flex;
}

.personal td,
.education td,
.practical td {
  @apply ml-auto;
}

.personal,
.education,
.practical {
  @apply flex flex-col;
}
